<section class="form-content">
  <div class="container register-form">
    <div class="form" id="formHeader">
      <div class="note">
        <p>Welcome to Gradious Doctor Appointment Booking</p>
      </div>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
      <div class="form-content">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text"  [(ngModel)]="this.service.appointment.patientName" name="patientName" #patientName="ngModel" required class="form-control" placeholder="Patient Name *" />
            </div>
            <div class="form-group" >
              <select class="form-control" placeholder="Select Male/Female *"  [(ngModel)]="this.service.appointment.gender" required name="gender" #gender="ngModel">
                <option name="M">Male</option>
                <option name="F">Female</option>
              </select>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Age *" [(ngModel)]="this.service.appointment.age" required name="age" #age="ngModel" />
            </div>

          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="tel" class="form-control" maxlength="14" placeholder="Phone Number *" [(ngModel)]="this.service.appointment.phone" required name="phone" #phone="ngModel" />
            </div>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="Date *" [(ngModel)]="this.service.appointment.date" required name="date" #date="ngModel" />
            </div>

            <div class="form-group">
              <input type="time" class="form-control" placeholder="Time *" [(ngModel)]="this.service.appointment.time" required name="time" #time="ngModel" />
            </div>

          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Doctor Name *" [(ngModel)]="this.service.appointment.doctorName" required name="doctorName" #doctorName="ngModel" />
            </div>
            <div class="form-group">
              <select class="form-control" placeholder="Select Consule/Revisit *" [(ngModel)]="this.service.appointment.appType" required name="appType" #appType="ngModel">
                <option name="Consult">Consult</option>
                <option name="Revisit">Revisit</option>
              </select>

            </div>
          </div>

        </div>
        <button type="submit" class="btn btnSubmit" [disabled]="form.invalid" >{{btnName}}</button>
      </div>
    </form>
    </div>
  </div>
</section>
<section class="main-content">


  <div class="container">
    <br>
    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Patient</th>
          <th>Status</th>
          <th>Appointment</th>
          <th>Phone</th>
          <th>Doctor</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let appointment of this.service.appointments">
        <tr>
          <td>
            <div class="user-info">
              <div class="user-info__img">
                <img src="./../assets/img/prof.png" alt="User Img">
              </div>
              <div class="user-info__basic">
                <h5 class="mb-0">{{appointment.patientName}}</h5>
                <p class="text-muted mb-0">{{appointment.age}} yrs, {{appointment.gender}}</p>
              </div>
            </div>
          </td>
          <td>
            <span [ngClass]="appointment.appType=='Consult'?'btn-success':'btn-primary'" class="btn">{{appointment.appType}}</span>
          </td>
          <td>
            <h6 class="mb-0">{{appointment.time}}</h6>
            <small>{{appointment.date}}</small>
          </td>
          <td>
            <h6 class="mb-0">{{appointment.phone}}</h6>
            <a><small>Contact</small></a>
          </td>
          <td>
            <h6 class="mb-0">Dr. {{appointment.doctorName}}</h6>
          </td>
          <td>
            <a href="#formHeader" class="text-primary"  (click)="updateAppointment(this.appointment.id)"><i class="fa fa-pencil mr-1"></i> Edit</a>
          </td>
          <td>
            <a  class="px-2 text-danger" (click)="deleteAppointment(this.appointment.id)">
              <i class="fa fa-trash mr-1"> Delete</i> 
            </a>
          </td>
        </tr>

    </tbody>
    </table>
  </div>
</section>